@model List<TaskModel>
<style>
    /* Custom styles for the To-Do list quadrants */
    .quadrant {
        border: 1px solid #ccc;
        padding: 0px;
        margin: 0px;
        min-height: 100px;
    }

    /* You can customize the background colors based on your preference */
    .quadrant-i {
        background-color: #FF6347; /* LightCoral */
    }

    .quadrant-ii {
        background-color: #ADFF2F; /* GreenYellow */
    }

    .quadrant-iii {
        background-color: #87CEEB; /* SkyBlue */
    }

    .quadrant-iv {
        background-color: #FFD700; /* Gold */
    }

    .row {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>
<title>To-Do List Quadrants</title>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="quadrant quadrant-i">
                <h4>Quadrant I: Important / Urgent</h4>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Category</td>
                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        <tbody>
                            <tr>
                                @if (x.QuadrantId == 1) {
                                <td>@x.TaskDescription</td>
                                <td>@x.DueDate</td>
                                //<td>@x.CategoryName</td>
                                <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                <td><a class="btn btn-warning" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                <td><a class="btn btn-success" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Complete</a></td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="quadrant quadrant-ii">
                <h4>Quadrant II: Important / Not Urgent</h4>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Category</td>
                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        <tbody>
                            <tr>
                                @if (x.QuadrantId == 2)
                                {
                                    <td>@x.TaskDescription</td>
                                    <td>@x.DueDate</td>
                                    <td>@x.Category.CategoryName</td>
                                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a class="btn btn-warning" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a class="btn btn-success" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Complete</a></td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="quadrant quadrant-iii">
                <h4>Quadrant III: Not Important / Urgent</h4>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Category</td>
                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        <tbody>
                            <tr>
                                @if (x.QuadrantId == 3)
                                {
                                    <td>@x.TaskDescription</td>
                                    <td>@x.DueDate</td>
                                    //<td>@x.Category.CategoryName</td>
                                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a class="btn btn-warning" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a class="btn btn-success" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Complete</a></td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="quadrant quadrant-iv">
                <h4>Quadrant IV: Not Important / Not Urgent</h4>
                <table class="table table-bordered">
                    <thead class="fw-bold">
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                            <td>Category</td>
                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        <tbody>
                            <tr>
                                @if (x.QuadrantId == 4)
                                {
                                    <td>@x.TaskDescription</td>
                                    <td>@x.DueDate</td>
                                    //<td>@x.Category.CategoryName</td>
                                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a class="btn btn-warning" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    <td><a class="btn btn-success" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Complete</a></td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>